<template name="reset">
	{{#if resetPassword}}
		<form id="new-password" class="form-horizontal main container form-group" role="form">
			<div class="col-sm-5 {{errorClass 'password'}}">
				<label class="control-label" for="new-password">New Password</label>
				<div class="controls">
					<input class="form-control" name="new-password" type="password" value="" placeholder="New Password"/>
					<span class="help-block">{{errorMessage 'password'}}</span>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input type="submit" value="Reset Password" class="btn btn-success submitButton"/>
				</div>
			</div>
		</form>
	{{else}}
		<form id="recovery-form" class="form-horizontal main container form-group" role="form">
			<div class="col-sm-5 {{errorClass 'email'}}">
				<label class="control-label" for="recover-email">Email</label>
				<div class="controls">
					<input class="form-control" name="recover-email" type="email" value="" placeholder="Email"/>
					<span class="help-block">{{errorMessage 'email'}}</span>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<input type="submit" value="Send Verification Email" class="btn btn-success submitButton"/>
				</div>
			</div>
		</form>
	{{/if}}
</template>
