<template name="footer">
	<div class="footer">
		<a href="{{pathFor 'contact'}}"><button class="btn btn-default shadow-z-3">Contact Us</button></a>
		<a href="{{pathFor 'privacy'}}"><button class="btn btn-default shadow-z-3">Privacy Policy</button></a>
		<a href="{{pathFor 'ack'}}"><button class="btn btn-default shadow-z-3">Acknowledgments</button></a>
	</div>
</template>
<template name="contact">
	<div class="container heady">
		<div class="jumbotron">
			<h1>Email: the.one.and.only.co.app@gmail.com</h1>
		</div>
	</div>
</template>
<template name="privacy">
	<div class="container heady">
		<div class="jumbotron">
			<h1>Privacy Policy</h1>
			<p>Thank you so much for looking into our privacy policy. At the moment my app is still in its early stages. Although I have made as many attempts as possible to ensure your data is safe, any app that is still in production may have a weakness or two. I thoroughly trust the co-app to ensure my email is safe, but just wanted to give a fair warning. This disclaimer will be updated as soon as production is finished.</p>
		</div>
	</div>
</template>
<template name="ack">
	<div class="container heady">
		<div class="jumbotron">
			<h1>Acknowledgements</h1>
			<ul class="ack">
				<li>Map: Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a></li>
				<li>Map Icon: Name: Map Icons Collection <a href="http://mapicons.nicolasmollet.com">http://mapicons.nicolasmollet.com</a>, Logo: <img src="/iconLogo.gif">, For the license click <a href="http://creativecommons.org/licenses/by-sa/3.0/">here</a></li>
				<li><div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div></li>
			</ul>
		</div>
	</div>
</template>